.chess-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 40px;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    border: 1px solid;
    width: 2em;
    height: 2em;
}

.chess-board .white {
    background: #eee;
}

.chess-board .black {
    background: #777777;
}


.chess-board td #piece {
    padding: 18px;
    font-size: 45px;
}